{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <div class="new-post">
        <h2>New Post</h2>
        <form action="{% url 'newPost' %}" method="post">
            {% csrf_token %}
            <textarea name="content" row="4" cols="100"></textarea>
            <br>
            <input type="submit" value="Post" class="vtn btn-primary"/>
        </form>
    </div>
    {% endif %}

    <div class="all-posts">
        {% for post in allPosts %}
        <div>
            <div class="row post" >
                <h5 class="username">@{{ post.user }}</h5>
                <h6>{{ post.content }}</h6>
                <p class="date">{{ post.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}